.gallery{
    background-color: white;
}

.Gallery > p {
    color: #8c8587;
    margin-bottom: 10rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: left;
    margin-left: 2rem;
  }

.section5-Gallery {
    background: url("../Images/gallery.png") center center/cover no-repeat;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 2rem;
  }

  @media screen and (max-width: 768px) {

    .section5-Gallery {
    background: url("../Images/gallery.png") center center/cover no-repeat;
    height: 50vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    }

    }

    @media screen and (max-width: 1024px) {

        .section5-Gallery {
        background: url("../Images/gallery.png") center center/cover no-repeat;
        height: 50vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        }
    
        }