.subheader-container {
  background: url("../Images/services.png") center center/cover no-repeat;
  height: 45vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.subheader-container > h2 {
  color: black;
  font-size: 40px;
  font-style: italic;
  margin-left: 58rem;
  margin-top: 4rem;
}

.subheader-container > p {
  color: black;
  margin-top: 3rem;
  margin-left: 58rem;
  margin-right: 3rem;
  font-size: 20px;
}

.subheader-btns {
  margin-top: 2px;
  width: 20%;
  margin-left: 3rem;
}

.subheader-btns .btn {
  margin: 6px;
}


@media screen and (max-width: 1024px) {
  .subheader-container {
    background: url("../Images/services.png") center center/cover no-repeat;
    height: 40vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1px;
  }
  .subheader-container > h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    color: black;
    margin-left: 33rem;
  }
  .subheader-container > p {
    font-size: 1.3rem;
    margin-top: 1.5;
    color: black;
    margin-left: 33rem;
    margin-right: 1rem;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
    width: 100px;
  }

  .btn {
    width: 120%;
  }
  .hero-btns {
    margin-top: 0.1px;
    width: 130%;
  }
}

@media screen and (max-width: 960px) {
  .subheader-container > h2 {
    font-size: 28px;
    margin-top: 2px;
    margin-left: 32rem;
  }

  .subheader-container > p {
    color: black;
    margin-top: 2rem;
    margin-left: 32rem;
    font-size: 16px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .subheader-btns {
    margin-top: 1px;
    width: 20%;
    margin-left: 0.1rem;
  }

  .btn {
    width: 100%;
  }
}


@media screen and (max-width: 768px) {
  .subheader-container {
    background: url("../Images/services.png") center center/cover no-repeat;
    height: 50vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1px;
  }
  .subheader-container > h2 {
    font-size: 14px;
    margin-top: 1px;
    color: black;
    margin-left: 15rem;
  }
  .subheader-container > p {
    font-size: 10px;
    margin-top: 2px;
    color: black;
    margin-left: 15rem;
    margin-right: 1rem;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
    width: 100px;
  }

  .btn {
    width: 120%;
  }
  .hero-btns {
    margin-top: 0.1px;
    width: 130%;
  }
}
